.faq-app-row {
  padding: 10%;
  width: 50%;
  max-width: 1440px;
  background-color: rgb(56, 28, 121);
  display: flex;
}

.image-container-column {
  background-color: rgb(238, 232, 232);
  border-radius: 2px;
  position: relative;
}

.desktop {
  display: grid;
  align-self: center;
  vertical-align: middle;
  background-color: rgb(238, 232, 232);
}

.bgicon {
  clip-path: inset(30% 0% 0% 50%);
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  width: 70%;
}
.woman {
  grid-column: 2 / span 3;
  grid-row: 2 / span 3;
}
.box {
  grid-column: 2 / span 3;
  grid-row: 3 / span 3;
}

/* Create four equal columns that sits next to each other */
.bgicon {
  max-width: 100%;
  margin-top: -5%;
  margin-left: -10%;
}

.bgicon img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.woman {
  max-width: 100%;
  padding: 0 4px;
}

.woman img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.box {
  max-width: 100%;
  padding: 0 4px;
  margin-left: -2.5%;
  margin-top: -10%;
}

.box img {
  margin-top: 8px;
  vertical-align: middle;
  width: 40%;
}

@media screen and (max-width: 600px) {
  .faq-app-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
}

.question {
  background-color: white;
  margin-top: 8px;
  vertical-align: middle;
}
