.App {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
input {
  width: 300px;
  height: 30px;
  font-size: 17px;
  margin: 5px;
}
button {
  margin-top: 15px;
  width: 300px;
  height: 30px;
}
button:hover {
  cursor: pointer;
}
.employees {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.employees button {
  float: right;
}
.employees input {
  float: right;
}
.employee {
  width: 700px;
  height: 300px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}
.employee .left {
  width: 400px;
}
.employee h3 {
  margin: 20px;
}
