.App {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.information input {
  width: 300px;
  height: 30px;
  font-size: 17px;
  margin: 5px;
}
.information button {
  margin-top: 15px;
  width: 300px;
  height: 30px;
}
.information button:hover {
  cursor: pointer;
}
